@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../fonts/Montserrat-Arabic-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-Arabic-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-Arabic-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../fonts/Montserrat-Arabic-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Arabic-Bold.woff") format("woff"), url("../fonts/Montserrat-Arabic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../fonts/Montserrat-Arabic-Black.woff2") format("woff2"), url("../fonts/Montserrat-Arabic-Black.woff") format("woff"), url("../fonts/Montserrat-Arabic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../fonts/Montserrat-Arabic-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-Arabic-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-Arabic-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../fonts/Montserrat-Arabic-Light.woff2") format("woff2"), url("../fonts/Montserrat-Arabic-Light.woff") format("woff"), url("../fonts/Montserrat-Arabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../fonts/Montserrat-Arabic-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Arabic-Medium.woff") format("woff"), url("../fonts/Montserrat-Arabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../fonts/Montserrat-Arabic-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Arabic-Regular.woff") format("woff"), url("../fonts/Montserrat-Arabic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../fonts/Montserrat-Arabic-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-Arabic-SemiBold.woff") format("woff"), url("../fonts/Montserrat-Arabic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Arabic";
  src: url("../fonts/Montserrat-Arabic-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Arabic-Thin.woff") format("woff"), url("../fonts/Montserrat-Arabic-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
body {
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat-Arabic";
}

* {
  margin: 0;
  padding: 0;
}

html[dir=rtl] body {
  text-align: right;
}

html[dir=ltr] body {
  text-align: left;
}

.item-parent {
  position: relative;
}

.title-text {
  font-size: 24px;
  color: #471b4e;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 40px;
}

img {
  image-rendering: -webkit-optimize-contrast;
  -o-object-fit: cover;
     object-fit: cover;
}

.ul-es {
  list-style: none;
  padding: 0;
  margin: 0;
}

.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
  content: "";
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: all linear 0.2s;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: #aa78bd;
}
.swiper-button-next i, .swiper-button-prev i {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -60px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: -60px;
}

.ancor-btn {
  color: black;
  text-decoration: none;
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.ancor-btn:hover {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #aa78bd;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: #471b4e;
}

.preloader {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #471b4e;
  overflow: hidden;
}

.progress-bar {
  -webkit-animation: progress 6s ease infinite;
          animation: progress 6s ease infinite;
  background-color: #aa78bd;
}

@-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.toTop {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 25px;
  bottom: 92px;
  background-color: rgba(0, 0, 0, 0.302);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  z-index: 10;
  transition: all linear 0.3s;
  opacity: 0;
  visibility: hidden;
}
.toTop:hover {
  background-color: #aa78bd;
}
.toTop:hover .toTop-icon {
  color: #fff;
}
.toTop .toTop-icon {
  font-size: 20px;
  color: #fff;
  transition: all linear 0.2s;
}

.showToTop {
  opacity: 1;
  visibility: visible;
}

.fixed-whatsapp {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 10;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25d366;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.fixed-whatsapp i {
  font-size: 36px;
  color: #ffffff;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #25d366;
  }
  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #25d366;
  }
  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}
.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  transition: all linear 0.5s;
}

.fixsedt {
  top: -150px;
  transition: all linear 0.5s;
}

@media only screen and (max-width: 767px) {
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
  .title-text {
    margin-bottom: 25px;
    font-size: 16px;
  }
  .fixed-whatsapp {
    width: 50px;
    height: 50px;
  }
  .fixed-whatsapp i {
    font-size: 30px;
  }
  .toTop {
    right: 19px;
    bottom: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 30px;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 30px;
  }
  .quick-drop {
    max-height: none;
  }
  .contact ul li a {
    font-size: 16px;
  }
  footer h4 {
    font-size: 16px;
  }
  .message input {
    padding-left: 25px;
    padding-right: 25px;
  }
  .copyright {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px;
  }
}
@media only screen and (max-width: 991px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next, .swiper-button-next, .swiper-rtl .swiper-button-prev {
    display: none;
  }
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    position: absolute;
    bottom: -35px;
  }
}
@media only screen and (min-width: 992px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    display: none;
  }
}
.lang {
  cursor: pointer;
  -webkit-margin-start: 50px;
          margin-inline-start: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang .english {
  -webkit-margin-end: 3px;
          margin-inline-end: 3px;
  font-size: 12px;
  color: #808080;
  font-weight: 300;
}
.lang img {
  width: 17px;
}

.li-drop {
  position: relative;
}
.li-drop > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.li-drop > a:hover {
  text-decoration: none;
}
.li-drop > a::after {
  content: "\f107";
  font-family: "line Awesome free";
  font-weight: 900;
  position: absolute;
  font-size: 11px;
  top: 5px;
  inset-inline-end: -14px;
}
.li-drop:hover .ul-drop {
  opacity: 1;
  visibility: visible;
}
.li-drop .ul-drop {
  transition: all linear 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 35px;
  z-index: 11;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  min-width: 165px;
  background-color: #fff;
  padding: 10px 15px;
}
.li-drop .ul-drop li {
  padding-bottom: 4px;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  width: 100%;
  text-align: center;
}
.li-drop .ul-drop li a:hover {
  text-decoration: none;
}
.li-drop .ul-drop li a {
  color: #000;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
}
.li-drop .ul-drop li:last-child {
  border-bottom: none;
}
.li-drop .ul-drop a {
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
  text-align: left;
}

.account-text {
  display: flex;
  align-items: center;
}

.mylang-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  padding: 14px 0 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  min-width: 265px;
}

.search-item {
  width: 704px;
  position: relative;
}
.search-item input {
  width: 100%;
  height: 40px;
  padding: 0 30px;
  border-radius: 25px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  height: 44px;
  font-weight: 400;
}
.search-item input::-moz-placeholder {
  font-size: 12px;
  color: #a6a6a6;
  font-weight: 300;
}
.search-item input:-ms-input-placeholder {
  font-size: 12px;
  color: #a6a6a6;
  font-weight: 300;
}
.search-item input::placeholder {
  font-size: 12px;
  color: #a6a6a6;
  font-weight: 300;
}
.search-item input:focus {
  outline: none;
  border: 1px solid #471b4e;
}

.search-icon {
  position: absolute;
  inset-inline-end: 20px;
  top: 55%;
  transform: translateY(-55%);
  border: none;
  background: transparent;
}
.search-icon i {
  font-size: 20px;
  color: #471b4e;
  transform: scaleX(-1);
}

.account-user {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account-user .account-text {
  position: relative;
  display: flex;
  align-items: center;
}
.account-user .account-text i {
  font-size: 24px;
  color: #471b4e;
}
.account-user .account-text span {
  font-size: 16px;
}

.favourite {
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}
.favourite:hover i {
  color: #aa78bd;
}
.favourite i {
  font-size: 24px;
  color: #471b4e;
}

.arabic {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  color: #808080;
}
.arabic:hover {
  text-decoration: none;
  color: #808080;
}
.arabic:focus {
  text-decoration: none;
}

.lang i {
  font-size: 8px;
  color: #808080;
}

.open-search-btn {
  transform: scaleX(-1);
}

.logo img {
  width: 80px;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}
.cart i {
  transition: all linear 0.2s;
}
.cart:hover i {
  color: #aa78bd;
}

.cart div {
  position: relative;
}

.cart i {
  font-size: 24px;
  color: #471b4e;
}

.number {
  width: 16px;
  height: 16px;
  background-color: #aa78bd;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 9px;
  font-weight: 700;
  position: absolute;
  top: -4px;
  left: 14px;
}

.favourite i, .account-btn i {
  transition: all linear 0.3s;
}

.account-btn-color {
  color: #471b4e;
}

html[dir=ltr] .li-drop > a::after {
  top: 4px;
}

nav {
  background-color: #471b4e;
  padding: 12.5px 0;
}
nav .closeBtn {
  display: none;
}

.ul-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ul-navbar li:last-child {
  margin: 0;
}
.ul-navbar li {
  -webkit-margin-end: 28px;
          margin-inline-end: 28px;
}
.ul-navbar li .nav-ancor {
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  transition: all linear 0.2s;
}
.ul-navbar li .nav-ancor:hover {
  text-decoration: none;
  color: #aa78bd;
}

.open-search {
  top: 0 !important;
  transition: all linear 0.3s !important;
}

.bars, .cart-icon, .open-search-btn {
  display: none;
  border: none;
  background: transparent;
}

header {
  transition: all linear 0.3s;
}

nav .top-header-text {
  display: none;
}
nav .top-header {
  display: none;
}

.account-user button {
  background-color: transparent;
  border: none;
}

.open-nav {
  inset-inline-start: 0;
  transition: all linear 0.3s;
}

.account-details {
  padding: 10px 15px;
  inset-inline-start: -51px;
  text-align: center;
  opacity: 0;
  width: 130px;
  visibility: hidden;
  transition: all linear 0.3s;
  position: absolute;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 20px;
  z-index: 999;
  top: 34px;
}
.account-details li {
  margin-bottom: 8px;
}
.account-details a {
  color: #000;
  font-weight: 300;
  text-transform: capitalize;
}
.account-details a:hover {
  text-decoration: none;
}
.account-details a:first-child {
  margin-bottom: 5px;
}

.show-account-details {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 992px) {
  .account-user {
    margin-bottom: 0;
  }
  .main-nav {
    flex-wrap: wrap;
  }
  .main-nav .search {
    order: 3;
    width: 100%;
    margin-top: 12px;
  }
  .main-nav .logo {
    order: 1;
  }
  .main-nav .account-user {
    order: 2;
  }
}
.nav-arrow-rotate::after {
  transform: translateY(-50%) rotate(180deg) !important;
  top: 10px !important;
}

@media only screen and (max-width: 1199px) {
  .search-item {
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  html[dir=ltr] .li-drop .ul-drop li a {
    text-align: left;
  }
  .li-drop {
    flex-direction: column;
    align-items: flex-start !important;
    width: 100%;
  }
  .li-drop a {
    display: block;
    width: 100%;
    color: #000;
    cursor: pointer;
  }
  .li-drop a::after {
    transition: all linear 0.3s;
    position: absolute;
    inset-inline-end: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }
  .li-drop .ul-drop {
    transition: none;
    background-color: transparent;
    padding: 0;
    min-width: auto;
    position: static;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    padding-top: 10px;
    transform: translateX(0);
    display: none;
  }
  .li-drop .ul-drop li {
    margin-bottom: 0;
    border-bottom: none;
    -webkit-margin-start: 10px;
            margin-inline-start: 10px;
  }
  .li-drop .ul-drop li a {
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    text-align: right;
    line-height: 29px;
  }
  .li-drop .ul-drop li a::before {
    content: "- ";
  }
  .account-details {
    inset-inline-start: -44px;
    width: 115px;
    padding: 8px 10px;
  }
  .account-details a {
    font-size: 13px;
  }
  html[dir=ltr] .search-item input {
    padding: 0 40px 0 15px;
  }
  .search {
    margin-top: 10px;
  }
  .search-item input {
    height: 40px;
    width: 100%;
    border-radius: 30px;
    background-color: #f2f2f2;
    transition: all linear 0.3s;
    max-width: 100%;
    outline: none !important;
    border: 1px solid transparent;
    color: #a6a6a6;
    padding: 0 25px 0 100px;
    font-size: 16px;
    font-weight: 400;
  }
  .search-item input:focus {
    border: 1px solid #471b4e;
  }
  .favourite {
    display: none !important;
  }
  .arabic span {
    display: none;
  }
  .main-nav {
    align-items: center;
    padding: 10px 0;
  }
  .ul-navbar li .nav-ancor {
    color: #000;
    font-weight: 400;
  }
  .ul-navbar li .nav-ancor:hover {
    color: #000;
  }
  .mynav {
    margin-top: 50px;
  }
  .number {
    top: -6px;
    left: 11px;
  }
  .account-user button {
    background-color: transparent;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .account-text {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .cart {
    padding: 0;
  }
  .bars, .open-search-btn i {
    font-size: 24px;
  }
  .account-user {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search {
    display: none;
  }
  .acc-text {
    display: none;
  }
  .ul-navbar li {
    margin-bottom: 15px;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
  }
  .closeBtn i {
    color: #808080;
  }
  nav {
    margin: 0;
    transition: all linear 0.3s;
    z-index: 99;
    position: fixed;
    inset-inline-start: -100%;
    padding: 30px 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #fff;
  }
  nav .closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    font-size: 22px;
  }
  nav .ul-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  nav .top-header {
    display: block;
    position: absolute;
    inset-inline-start: 20px;
    border-bottom: none;
    top: 20px;
  }
  .show-lang {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .lang {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
  .cart .shoppingText {
    display: none;
  }
  .account-section {
    margin-bottom: 0;
  }
  .bars, .search-icon {
    display: block;
    inset-inline-end: 15px;
  }
  .account-user .account-text {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    display: flex;
    align-items: center;
  }
  .account-user {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 50px;
  }
  .main-nav .lang {
    display: none;
  }
  .account-user button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .favourite, .cart, .account-user .account-text, .open-search-btn {
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
  }
  .lang-close-holder-mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .account-btn:hover i {
    color: #aa78bd;
  }
  .account-btn:hover {
    color: #471b4e;
  }
  .lang-close-holder-mob .lang {
    display: none;
  }
  .search {
    display: block !important;
  }
  .account-text:hover .account-details {
    opacity: 1;
    visibility: visible;
  }
}
.banners {
  padding-bottom: 95px;
}

.banners-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.banner-link-holder {
  display: block;
}

.banner-item {
  overflow: hidden;
  transition: all linear 0.3s;
}
.banner-item img {
  display: block;
  width: 100%;
  transform: scale(1.19);
  transition: all linear 0.2s;
}

@media only screen and (max-width: 767px) {
  .banners-parent {
    grid-template-columns: auto;
    gap: 20px;
  }
  .banners {
    padding-bottom: 0;
  }
  .banner-item {
    text-align: center;
  }
  .banner-item img {
    max-width: 100%;
    transition: all linear 0.3s;
    transform: scale(1);
  }
}
@media only screen and (min-width: 768px) {
  .banners-parent {
    grid-template-columns: 1fr 1fr;
  }
  .banner-item {
    text-align: center;
  }
  .banner-item:hover img {
    transform: scale(1);
  }
}
.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
}

.like {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fafafa;
  position: absolute;
  top: 5px;
  inset-inline-end: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.3s;
}
.like:hover {
  background-color: #aa78bd;
}
.like:hover i {
  color: #fff;
}
.like i {
  font-size: 24px;
  color: #8b8b8b;
  transition: all linear 0.2s;
}

.item-desc {
  text-align: center;
  width: 100%;
  padding: 15px 20px;
}
.item-desc .brand-name {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  margin-bottom: 10px;
  min-height: 45px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  line-height: 20px;
  color: #471b4e;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.price {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.price .current-price {
  font-size: 16px;
  color: #471b4e;
  font-weight: 700;
  margin-bottom: 0;
  -webkit-margin-end: 7px;
          margin-inline-end: 7px;
}
.price .deleted {
  font-size: 14px;
  color: #808080;
  font-weight: 300;
  text-decoration: line-through;
}

.add {
  padding: 3.5px 25px;
  border-radius: 19px;
  background-color: #471b4e;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin: auto;
  transition: all linear 0.2s;
}
.add:hover {
  background-color: #aa78bd;
  color: #ffffff;
}
.add i {
  font-size: 31px;
  color: #ffffff;
}

.img-holder {
  position: relative;
  display: block;
  width: 100%;
}
.img-holder:hover .addTocart {
  opacity: 1;
  visibility: visible;
}
.img-holder img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 767px) {
  .price .current-price, .price .deleted {
    font-size: 15px;
  }
  .price .current-price {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    margin-bottom: 6px;
  }
  .item-desc {
    padding: 7px 6px;
  }
  .add {
    padding: 7px 17px;
  }
  .add i {
    font-size: 20px;
  }
  .add span {
    font-size: 14px;
  }
  .price {
    flex-direction: column;
    line-height: normal;
    margin: 14px 0;
  }
  .like {
    width: 33px;
    height: 33px;
  }
  .item-desc .brand-name {
    height: auto;
    min-height: auto;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 370px) {
  .add {
    padding: 7px 13px;
  }
}
@media only screen and (min-width: 768px) {
  .add:hover {
    background-color: #aa78bd;
  }
}
.features {
  padding: 29px 0;
  background-color: #471b4e;
}

.features-children {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-title1 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.icon-holder {
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  background-color: #aa78bd;
}
.icon-holder .icon {
  color: #ffffff;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .features {
    padding: 50px 0;
  }
  .icon-holder .icon {
    font-size: 25px;
  }
  .icon-holder {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 992px) {
  .features-children .feature-item .icon-holder {
    margin-bottom: 10px;
  }
  .features-children {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .feature-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.products {
  padding: 50px 0 55px 0;
}

.products-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myproduct-item:nth-child(2) {
  margin: 0 70px;
}

.myproduct-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.myproduct-item:hover .product-name {
  color: #aa78bd;
}
.myproduct-item .plate {
  transition: all linear 0.3s;
}

.product-holder {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  background-color: #aa78bd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-ancor {
  display: block;
}
.product-ancor:hover .product-name {
  color: #aa78bd;
}

.product-name {
  font-size: 16px;
  font-weight: 500;
  color: #471b4e;
  text-align: center;
  transition: all linear 0.2s;
  margin-top: 20px;
  text-transform: capitalize;
}
.product-name:hover {
  color: #aa78bd;
}
.product-name:focus {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .myproduct-item:first-child {
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
  }
  .products {
    padding: 40px 0;
  }
  .product-name {
    font-size: 14px;
    margin-top: 15px;
  }
  .product-holder {
    width: 140px;
    height: 140px;
  }
  .product-holder img {
    width: 35px;
  }
  .products-parent {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .myproduct-item:nth-child(2) {
    margin: 0;
  }
  .myproduct-item:last-of-type {
    margin: 30px auto 0 auto;
  }
  .myproduct-item:last-of-type img {
    width: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .plate-name:hover {
    color: #471b4e;
  }
}
footer {
  padding: 90px 0 40px 0;
}
footer a:hover {
  text-decoration: none;
}
footer .footer-title {
  font-size: 14px;
  color: #471b4e;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

html[dir=ltr] .message input {
  padding: 0 50px 0 25px;
}

.logo-info img {
  width: 55px;
  max-width: 100%;
}

.logo-text h3 {
  font-size: 14px;
  margin: 0;
  margin-top: 20px;
  width: 329px;
  line-height: 28px;
  color: #471b4e;
  font-weight: 300;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners a:first-child {
  width: 75px;
}
.partners a:first-child img {
  width: 100%;
}
.partners a:last-child {
  width: 65px;
}
.partners a:last-child img {
  width: 100%;
}
.partners a:last-child {
  -webkit-margin-start: 15px;
          margin-inline-start: 15px;
}

.quick-links ul li {
  font-size: 16px;
  line-height: 35px;
}
.quick-links ul li a {
  color: #808080;
  text-transform: capitalize;
  transition: all linear 0.2s;
  font-size: 14px;
  font-weight: 400;
}
.quick-links ul li a:hover {
  color: #471b4e;
}
.quick-links ul li a:focus {
  text-decoration: none;
}
.quick-links ul li a:active {
  text-decoration: none;
}

.newsletter .newsletter-text {
  font-size: 14px;
  color: #471b4e;
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.message {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
}
.message .send {
  font-size: 22px;
  color: #471b4e;
  position: absolute;
  inset-inline-end: 15px;
  transform: translateY(-50%) rotate(180deg);
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all linear 0.3s;
}
.message input {
  width: 360px;
  height: 40px;
  border-radius: 20px;
  background-color: #f2f2f2;
  transition: all linear 0.3s;
  max-width: 100%;
  outline: none !important;
  border: 1px solid transparent;
  color: #a6a6a6;
  padding: 0 25px 0 100px;
  font-size: 16px;
  font-weight: 400;
}
.message input ::-webkit-input-placeholder {
  font-size: 12px;
  color: #8e8e8e;
}
.message input::-webkit-input-placeholder {
  font-size: 14px;
  color: #a6a6a6;
  font-weight: 300;
}
.message input:focus {
  border-color: #471b4e !important;
}
.message .mail-icon {
  color: #471b4e;
  font-size: 21px;
}

html[dir=ltr] .send i {
  transform: rotate(180deg);
}

.tasawk {
  font-size: 12px;
  color: #808080;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.tasawk img {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}
.tasawk:hover {
  text-decoration: none;
  color: #808080;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright p {
  font-size: 13px;
  font-weight: 300;
  color: #808080;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.social a {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #471b4e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.2s;
}
.social a:hover {
  background-color: #aa78bd;
}
.social i {
  font-size: 22px;
  color: #fff;
  transition: all linear 0.3s;
}

@media only screen and (max-width: 991px) {
  .social {
    justify-content: center;
  }
  .social a {
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .social-footer {
    margin-bottom: 20px;
  }
  .social-newsletter {
    display: none;
  }
  .footer-items {
    flex-direction: column;
  }
  .footer-items .img-item {
    order: 6;
    margin: 20px auto 0 auto;
  }
  .footer-items .footer-item {
    width: 100%;
  }
  .newsletter .newsletter-text {
    text-align: center;
  }
  .quick-links {
    width: 100%;
  }
  .footer-row {
    display: flex;
    flex-direction: column;
  }
  .quick-drop {
    height: auto;
  }
  .contact, .newsletter, .quick-links {
    padding-bottom: 20px;
  }
  .contact ul li:first-child, .contact .nested, .newsletter ul li:first-child, .newsletter .nested, .quick-links ul li:first-child, .quick-links .nested {
    padding-top: 10px;
  }
  .quick-links ul li:first-child {
    padding-top: 5px;
  }
  .contact ul li {
    margin-bottom: 12px;
  }
  footer {
    padding: 40px 0 30px 0;
  }
  .quick-drop, .contact ul, .newsletter .nested {
    display: none;
  }
  .copyright {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .copyright a {
    margin-bottom: 10px;
  }
  .tasawk {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 5;
  }
  .tasawk img {
    -webkit-margin-start: 5px;
            margin-inline-start: 5px;
  }
  .message {
    width: 100%;
  }
  .message input {
    width: 100%;
  }
  .message input::-moz-placeholder {
    font-size: 13px;
  }
  .message input:-ms-input-placeholder {
    font-size: 13px;
  }
  .message input::placeholder {
    font-size: 13px;
  }
  .quick-links ul li {
    font-size: 14px;
  }
  .contact ul li a {
    font-size: 14px;
  }
  .newsletter p {
    font-size: 14px;
  }
  .copyright p {
    order: 2;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    width: 100%;
    margin: 5px 0;
  }
  footer .footer-title {
    margin-bottom: 0;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 15px;
    position: relative;
  }
  footer .footer-title::after {
    font-size: 17px;
    content: "\f107";
    transition: all linear 0.3s;
    font-family: "line Awesome free";
    position: absolute;
    inset-inline-end: 0;
    top: 0;
  }
  .partners img:first-child {
    width: 70px;
  }
  .partners img:last-child {
    width: 55px;
  }
  .logo-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-info img {
    width: 75px;
  }
  .logo-text h3 {
    text-align: center;
    width: auto;
  }
  .social a {
    margin: 0 10px;
    width: 35px;
    height: 35px;
  }
  .social i {
    font-size: 18px;
  }
  .payments {
    width: 100%;
  }
  .partners {
    justify-content: center;
  }
  .partners img:first-child {
    -webkit-margin-end: 30px;
            margin-inline-end: 30px;
  }
  .arrow-rotate::after {
    transform: translateY(-50%) rotate(180deg) !important;
    top: 10px !important;
  }
  .rotate-icon-special::after {
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .newsletter-item {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .social-footer {
    display: none;
  }
  .img-item {
    transform: translateY(-20px);
  }
  .partners {
    margin-top: 70px;
    margin-bottom: 30px;
  }
}
.mainBanner {
  padding-top: 15px;
}
.mainBanner .container {
  height: 100%;
}
.mainBanner .mainslider-item {
  text-align: center;
}
.mainBanner .swiper-button-prev i, .mainBanner .swiper-rtl .swiper-button-next i, .mainBanner .swiper-button-next i, .mainBanner .swiper-rtl .swiper-button-prev i {
  color: #fff;
}
.mainBanner .swiper-horizontal > .swiper-pagination-bullets, .mainBanner .swiper-pagination-bullets.swiper-pagination-horizontal, .mainBanner .swiper-pagination-custom, .mainBanner .swiper-pagination-fraction {
  display: block;
}
.mainBanner .mainBanner-parent {
  position: relative;
  height: 100%;
}
.mainBanner .swiper {
  height: 100%;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "";
}

.mainBanner-link {
  height: 100%;
}
.mainBanner-link img {
  width: 100%;
  height: 100%;
}

.mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next, .mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: all linear 0.3s;
  margin-top: 0;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.mainBanner .swiper-button-prev:hover, .mainBanner .swiper-rtl .swiper-button-next:hover, .mainBanner .swiper-button-next:hover, .mainBanner .swiper-rtl .swiper-button-prev:hover {
  background-color: #aa78bd;
}
.mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next {
  left: -60px;
}
.mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev {
  right: -60px;
}
.mainBanner .mainslider-item {
  position: relative;
  height: 100%;
}
.mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next, .mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev i {
  font-size: 24px;
}

.mainBanner .swiper-pagination-bullet-active {
  background-color: #aa78bd !important;
}

@media only screen and (max-width: 991px) {
  .mainBanner .swiper-horizontal > .swiper-pagination-bullets, .mainBanner .swiper-pagination-bullets.swiper-pagination-horizontal, .mainBanner .swiper-pagination-custom, .mainBanner .swiper-pagination-fraction {
    bottom: 2px;
  }
}
@media only screen and (min-width: 1200px) {
  .mainBanner {
    height: calc(100vh - 160.11px);
  }
}
@media only screen and (max-width: 991px) {
  .mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next, .mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .mainBanner {
    padding-top: 0;
  }
  .mainBanner .swiper-pagination-bullet-active {
    background-color: #471b4e !important;
  }
}
.newArrivals {
  background-color: #471b4e;
  position: relative;
  padding: 75px 0 100px 0;
}
.newArrivals .title-text {
  color: #fff;
}
.newArrivals .img-holder {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .newArrivals {
    padding: 50px 0 80px 0;
  }
  .newArrivals .swiper-pagination-bullet {
    background-color: #000;
    opacity: 1;
  }
  .newArrivals .swiper-pagination-bullet-active {
    background-color: #fff;
  }
}
.bestseller {
  padding: 75px 0 145px 0;
  background-repeat: no-repeat;
  background-position: 50% 233%;
}
.bestseller .title-text {
  color: #471b4e;
}
.bestseller .swiper-button-prev i, .bestseller .swiper-rtl .swiper-button-next i {
  font-size: 20px;
  color: #ffffff;
}

.item-desc {
  background-color: #fff;
}

.special-offers {
  padding-bottom: 100px;
  position: relative;
}
.special-offers .title-text {
  text-align: center;
  text-transform: capitalize;
}
.special-offers .img-holder {
  text-align: center;
}

.item-parent {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .bestseller, .special-offers {
    padding: 50px 0 80px 0;
  }
}/*# sourceMappingURL=main.css.map */