

.features{
    padding: 29px 0;
    background-color: $main-color;
}
.features-children{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-title1{
    line-height: 1.4;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
   margin: 0;
    text-transform: capitalize;
    }
.icon-holder{
    margin-inline-end: 20px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px;
    background-color: $second-color;
        .icon{
            color: #ffffff;
            font-size: 30px;
        } 
}

@media screen and (max-width : 768px) {
    .features{
        padding: 50px 0;
    }
    .icon-holder .icon{
        font-size: 25px;
    }
    .icon-holder{
        margin-inline-end: 0;
        width: 45px;
        height: 45px;
    }
   
}


@media screen and (max-width: 992px) {
    .features-children .feature-item .icon-holder{
        margin-bottom: 10px;
    }
    .features-children{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 30px  20px;
    }
    .feature-item{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
