.products{
    padding: 50px 0 55px 0;
}
.products-parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.myproduct-item:nth-child(2){
    margin: 0 70px;
}
.myproduct-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:hover{
        .product-name{
            color: $second-color;
        }
    }
    .plate{
        transition: all linear .3s;
    }
}
.product-holder{
    width: 156px;
    height: 156px;
    border-radius: 50%;
    background-color: $second-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-ancor{
    display: block;
    &:hover{
        .product-name{
            color: $second-color;
        }
    }
}
.product-name{
font-size: 16px;
font-weight: 500;
color: $main-color;
text-align: center;
transition: all linear .2s;
margin-top: 20px;
text-transform: capitalize;
&:hover{
    color: $second-color;
}
&:focus{
    text-decoration: none;
}
}


@include max-768 {
    .myproduct-item:first-child{
        margin-inline-end: 0px;
    }
    .products{
        padding: 40px   0;
    }
    .product-name{
        font-size: 14px;
        margin-top: 15px;
    }
    .product-holder{
        width: 140px;
        height: 140px;
        img{
            width: 35px;
        }
    }
    .products-parent{
       flex-wrap: wrap;
       justify-content: space-between;
    }
    .myproduct-item:nth-child(2){
        margin: 0 ;
    }
    .myproduct-item:last-of-type{
        margin: 30px auto 0 auto;
        img{
            width: 25px;
        }
    }
}


@include min-768 {
    .plate-name{
        &:hover{
            color: $main-color;
        }
    }
}